.list{
	list-style-type: none;
}
.imagename-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.imagename-enter.imagename-enter-active {
	opacity: 1;
}
