body{
	color:blue;
}

.column {
	float: left;
	margin: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}