.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
body{
	overflow-x:hidden;
}
/* todo page */

.todo-wrapper{
	border: 1px solid #000000;
	margin: 0 auto;
	width: 89%;
	padding:30px;
}
.todo-wrapper h1{
	font: 30px/100% helvetica;
	text-align: center;
}
#content{
	margin-top:40px;
	padding-left:20px
}
.controls li{
	margin: 10px 0;
}
.controls li span{
	margin-right: 10px;
}
/* image app page */

.imageapp-wrapper{
	border: 1px solid #000000;
	margin: 10px;
}
.imageapp-wrapper > *{
	margin: 6px 10px;
}
.listItem {
	font: 17px/100% helvetica;
	margin: 20px 0 0 20px;
	list-style: circle;
}
.listItem li{
	margin: 5px 0;
}
.list{
	list-style-type: none;
}
.imagename-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.imagename-enter.imagename-enter-active {
	opacity: 1;
}

/* Animations */

.slide-right.ng-enter,
.slide-left.ng-enter,
.slide-right.ng-leave,
.slide-left.ng-leave{
	position: absolute;
	width:100%;
}
.slide-right.ng-enter{
	-webkit-animation: 1s slideRightEnter;
	animation: 1s slideRightEnter;
}
.slide-left.ng-enter{
	-webkit-animation: 1s slideLeftEnter;
	animation: 1s slideLeftEnter;
}
.slide-right.ng-leave{
	-webkit-animation: 1s slideRightLeave;
	animation: 1s slideRightLeave;
}
.slide-left.ng-leave{
	-webkit-animation: 1s slideLeftLeave;
	animation: 1s slideLeftLeave;
}
@keyframes slideRightEnter {
  from {
    left:-10000px;
  }
  to {
    left:0;
  }
}
@-webkit-keyframes slideRightEnter {
  from {
    left:-10000px;
  }
  to {
    left:0;
  }
}
@keyframes slideLeftEnter {
  from {
    left:10000px;
  }
  to {
    left:0;
  }
}
@-webkit-keyframes slideLeftEnter {
  from {
    left:10000px;
  }
  to {
    left:0;
  }
}
@keyframes slideRightLeave {
  from {
    left:0px;
  }
  to {
    left:10000px;
  }
}
@-webkit-keyframes slideRightLeave {
  from {
    left:0;
  }
  to {
    left:10000px;
  }
}
@keyframes slideLeftLeave {
  from {
    left:0;
  }
  to {
    left:-10000px;
  }
}
@-webkit-keyframes slideLeftLeave {
  from {
    left:0;
  }
  to {
    left:-10000px;
  }
}






