<!-- Shopping Item Type C template starts -->
<!-- This Template shows general attributes of item like Photo, Title, brief info, purchase button, etc. -->


<div class="product product-large clearfix">
	<div class="image floatleft">
		<img alt="Product Image" ng-src="{{obj.data.imagePath}}">
	</div>
	<div class="product-info floatleft">
		<div class="title">
			<p>{{obj.data.title}}</p>
		</div>
		<div class="desc">
			<p>{{obj.data.info}}</p>
		</div>
	</div>
	<div class="price floatleft clearfix">
		<div class="rate floatleft">
			<span>{{obj.data.price}}</span>
		</div>
		<div class="buy floatright">
			<a href="#">BUY</a>
		</div>
	</div>
</div>


<!-- Shopping Item Type C template ends -->