<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Teehan+Lax - Defining Experience</title>
<link href="resources/stylesheets/css/normalize.css" rel="stylesheet" type="text/css">
<link href="resources/stylesheets/css/style.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="shoppingApp" ng-controller="HomePageController">
<div class="page clearfix type-A">
	<div id="sidebar" class="page-left" set-height>
		<div class="menu-button">
			<a href="#" ng-click="openSidebar();"></a>
		</div>
		<div class="overlay"></div>
		<ul>
			<li><a href="#">Type A Format</a></li>
			<li><a href="#">Type B Format</a></li>
		</ul>
		
	</div>
	<section class="page-right">
		<header class="clearfix">
			<div id="logo" class="floatleft">
				<a href="#">
					<img alt="logo" src="resources/assets/images/logo.png">
				</a>
			</div>
			<div class="info floatleft">
				<h4>Consectetur adipiscing elit. Quisque ac posuere lectus. Donec gravida aliquet nulla a accumsan.</h4>
			</div>
			<div class="search floatright clearfix">
				<a href="#" class="search-submit floatright">OK</a>
				<input type="text" placeholder="Search" class="search-text floatright" ng-model="searchText">
			</div>
			<div class="controls floatright">
				<a href="#">SIGN UP</a>
				<a href="#">LOG IN</a>
			</div>
			<div class="social floatright">
				<a href="#" class="fb"><img alt="FB" src="resources/assets/images/fb-button.png"></a>
				<a href="#" class="gplus"><img alt="GOOGLE PLUS" src="resources/assets/images/gplus-button.png"></a>
				<a href="#" class="twitter"><img alt="TWITTER" src="resources/assets/images/twitter-button.png"></a>
			</div>
		</header>
		<div class="content">
			<div class="content-header clearfix">
				<aside class="floatleft">
					<div class="menu">
						<h3>men fashion:</h3>
					</div>
					<div class="menu-items">
						<ul>
							<li><a href="#">Donec ac nisl at</a></li>
							<li><a href="#">Sed pharetra lorem in dolor</a></li>
							<li><a href="#">Ut et lectus</a></li>
							<li><a href="#">Etiam non risus</a></li>
							<li><a href="#">Praesent vitae erat</a></li>
							<li><a href="#">In viverra lacus</a></li>
							<li><a href="#">Quisque vestibulum</a></li>
						</ul>
					</div>
				</aside>
				<div class="crumb floatleft">
					<p>
						Shop / Men <span>/ Jackets</span>
					</p>
				</div>
				
				<div class="region floatright clearfix">
					<select class="floatright">
						<option selected="">United States</option>
					</select>
					<span class="floatright">Choose Region:</span>
				</div>
	
			</div>
			<div class="content-items">
				<div class="row clearfix">
					<div class="column first">
						<div id="side-pad"></div>
						<div ng-repeat="obj in columnModel[0] | filter:searchText">
							<div ng-if="obj.type == 'A'" ng-include="partialMap.product"></div>
							<div ng-if="obj.type == 'B'" ng-include="partialMap.thumbnail"></div>
						</div>
					</div>
					<div class="column">
						<div ng-repeat="obj in columnModel[1] | filter:searchText">
							<div ng-if="obj.type == 'A'" ng-include="partialMap.product"></div>
							<div ng-if="obj.type == 'B'" ng-include="partialMap.thumbnail"></div>
						</div>
						
					</div>
					<div class="column">
						<div ng-repeat="obj in columnModel[2] | filter:searchText">
							<div ng-if="obj.type == 'A'" ng-include="partialMap.product"></div>
							<div ng-if="obj.type == 'B'" ng-include="partialMap.thumbnail"></div>
						</div>
					</div>
					<div class="column last">
						<div ng-repeat="obj in columnModel[3] | filter:searchText">
							<div ng-if="obj.type == 'A'" ng-include="partialMap.product"></div>
							<div ng-if="obj.type == 'B'" ng-include="partialMap.thumbnail"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="clearfix">
				<div id="footer-logo" class="floatleft">
					<a href="#">
						<img alt="footer logo" src="resources/assets/images/footer-logo.png">
					</a>
				</div>
				<div class="desc floatleft clearfix">
					<p class="rights floatleft">© 2014 WE.Fashion. All rights reserved. | </p>
					<a class="links floatleft" href="#">About Us</a>
					<a class="links floatleft" href="#">Privacy Policy</a>
					<a class="links floatleft" href="#">Terms Of Use</a>
				</div>
				<div class="social floatright">
					<a href="#" class="fb"><img alt="FB" src="resources/assets/images/fb-button.png"></a>
					<a href="#" class="gplus"><img alt="GOOGLE PLUS" src="resources/assets/images/gplus-button.png"></a>
					<a href="#" class="twitter"><img alt="TWITTER" src="resources/assets/images/twitter-button.png"></a>
				</div>
			</div>
			
		</footer>
	</section>
</div>

<!-- Dummy div for increaing height -->
<div style="height: 50px;"></div>

<script type="text/javascript" src="resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="resources/js/app/app.js"></script>
<script type="text/javascript" src="resources/js/app/services/datastore.js"></script>
<script type="text/javascript" src="resources/js/app/directives/setheight.js"></script>
<script type="text/javascript" src="resources/js/app/controllers/homepage.js"></script>
</body>
</html>