<html>
<head>
<link type="text/css" rel="stylesheet" href="css/style.css"></link>	

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src="js/lib/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/services.js"></script>

</head>
<body ng-app="myApplication" ng-controller="mainController">
	
	<input type="button" value="getJSON" ng-click="getJSON()"><br>
	<ul class="list">
		<li ng-repeat="image in jsonData.images" class="imagename">{{image.name}}</li>
	</ul>
	
	
	<select ng-model="selectedImage" ng-options="image.name for image in jsonData.images"></select><br>
	<h1>{{selectedImage.name}}</h1>
	<img alt="Big Image" ng-src="{{selectedImage.url}}" height="640px"/>

</body>
</html>