/*
  Author: Lakshya Chaudhary
*/
  
@font-face {
	font-family: AdobeClean-Regular;
	src: url('../../assets/fonts/AdobeClean-Regular.otf') format('opentype');
}
@font-face {
	font-family: AdobeClean-Bold;
	src: url('../../assets/fonts/AdobeClean-Bold.otf') format('opentype');
}

/* Global Css setting goes here */

$primaryFontFamily: AdobeClean-Regular , Arial;
$primaryFontFamilyBold: AdobeClean-Bold , Arial;

$white: #ffffff;
$black: #000000;
$lightBlack: #333333;
$pink: #ee4d84;
$pink2: #d14b9b;
$grey: #999999;
$lightGrey: #cccccc;
$verylightGrey: #e5e5e5;

$backgroundImagePath: url('../../assets/images/background.png');
$spriteImagePath: url('../../assets/images/sprite.png');

$pageWidthDesktop: 998px;
$pageWidthIpad: 768px;
$mediumBreakpoint: 998px;



body{
	font-family: $primaryFontFamily;
	color: $lightBlack;
	background-image: $backgroundImagePath;
	background-repeat: repeat;
}

.floatleft{float:left;}
.floatright{float:right;}
.clearfix:after{content: " "; display: table; clear: both;}

.page{
	width: $pageWidthDesktop;
	margin: 0 auto;
	
	@media only screen and (max-width: $mediumBreakpoint) {
		width: $pageWidthIpad;
	}
}

.page-left.open{
	width:250px;
	
	.overlay{
		display:none;
	}
}
.page-left{
	display:none;
	width:49px;
	height: 500px;
	background-color:$lightBlack;
	position:fixed;
	transition: width 1s;
	overflow:hidden;
	@media only screen and (max-width: $mediumBreakpoint) {
		display:block;
	}
	.menu-button{
	
		background-color: $pink;
		a{
			display: block;
			width:49px;
			height:43px;
			background-image: $spriteImagePath;
			background-position: 10px -28px;
		}
	}
	
	.overlay{
		height: 100px;
		position: absolute;
		z-index: 100;
		top:43px;
		width:100%;
	}
	ul{
		position:absolute;
		right:0;
		width:240px;
		z-index: 50;
		top:43px;
		li{
			padding: 15px 49px 10px 28px;
			background-image: $spriteImagePath;
			background-repeat: no-repeat;
			background-position: 4px 18px;
			
			a{
				color: $white;
			}
		}
		li:hover{
			background-color: $black;
		}
	}
}

.page-right{
	width:100%;
	float:none;
	@media only screen and (max-width: $mediumBreakpoint) {
		width:719px;
		padding-left:49px;
	}
}

#logo, #footer-logo{
	a{
		display: block;
		padding: 0 25px; 
	}
}

header {
	
	padding: 26px 20px;
	@media only screen and (max-width: $mediumBreakpoint) {
		padding: 20px 0;
	}
	
	.info{
		font-size: 11px;
		width: 250px;
		margin: 20px 0 0 30px;
		@media only screen and (max-width: $mediumBreakpoint) {
			margin: 15px 0 0;
			width: 178px;
		}
	}
	
	.controls{
		margin-top: 20px;
		margin-right: 10px;
		@media only screen and (max-width: $mediumBreakpoint) {
			display: none;
		}
	}
	
	.search{
		margin-top: 20px;
		@media only screen and (max-width: $mediumBreakpoint) {
			display: none;
		}
	}
	
	.social{
		display:none;
		@media only screen and (max-width: $mediumBreakpoint) {
			display: block;
			margin: 20px 25px 0 0;
		}
	}
}

.search{
	font-size: 13px;
	.search-text{
		border: 1px solid $lightGrey;
		padding: 5px 10px;
		width: 240px;
	}
	.search-submit{
		border: 1px solid $lightGrey;
		padding: 7px 7px 6px 7px;
		font-family: $primaryFontFamilyBold;
		border-left:0;
	}
}

.controls{
	a {
		display: inline-block;
		padding: 8px;
		font-family: $primaryFontFamilyBold;
		color: $pink;
		font-size: 13px;
	}
}

.content{
	
	border: 1px solid $lightGrey;
	padding: 17px 19px;
	background-color: $verylightGrey;
	@media only screen and (max-width: $mediumBreakpoint) {
		padding:0;
	}
	
	.content-header{
		@media only screen and (max-width: $mediumBreakpoint) {
			display: none;
		}
		aside{
			position:relative;
			
			.menu{
				width: 184px;
				background-color: $black;
				color: $white;
				padding: 15px 28px 10px 28px;
				text-transform: uppercase;
				
				p{
					font-size:18px;
					margin: 5px 0 0;
				}			
			}
			
			.menu-items{
				width: 184px;
				background-color: $lightBlack;
				padding: 15px 28px 10px 28px;
				text-transform: uppercase;
				position: absolute;
				
				ul{
					li{
						padding-left:15px;
						background-image: $spriteImagePath;
						background-repeat: no-repeat;
						background-position: -4px 3px;
						margin: 0 0 12px 0;
						
						a{
							color: $white;
						}
					}
				} 				
			}
		}
		
		.crumb{
			font-size:14px;
			color: $grey;
			margin: 15px 0 0 30px;
			
			span{
				font-size:19px;
				color: $lightBlack;
			}
		}
		
		.region{
			margin-top:5px;
			span{
				margin: 10px 10px 0 0;
			}
		}
		
	}
}

.region{
	select{
		border: 1px solid $lightGrey;
		padding: 4px 10px;
		width: 295px;
		color: $lightBlack;
	}
	span{
		font-size:13px;
	}
}

.content-items{
	border-top: 1px solid $lightGrey;
	@media only screen and (max-width: $mediumBreakpoint) {
		border:0;
	}
}
#side-pad{
	height: 238px;
	@media only screen and (max-width: $mediumBreakpoint) {
		display:none;
	}
}
.row{
	width:100%;
}
.column{
	width:238px;
	float:left;
}
.column.first{
	@media only screen and (max-width: $mediumBreakpoint) {
		display:none;
	}
}
.column.last{
	border-right: 1px solid $lightGrey;
}
.box{
	border-left:1px solid $lightGrey;
	border-bottom:1px solid $lightGrey;
}
.product{
	background-color: $white;
	
	.title{
		padding: 16px 54px;
		
		p{
			font-size:21px;
		}
	}
	
	.image{
		text-align:center;
	}
	
	.desc{
		padding: 10px 40px;
		
		p{
			font-size:13px;
		}
	}
	
	.price{
		padding: 10px 42px;
		
		.rate{
			margin-top:10px;
			font-size: 21px;
			color: $black;
		}
		
		.buy a{
			font-size: 16px;
			font-family: $primaryFontFamilyBold;
			display:block;
			color: $white;
			background-color: $pink;
			border:1px solid $pink2;
			padding: 10px 20px 5px 20px;
		}
	}
}
.thumbnail{
	text-align:center;
	img{
		width:100%;
		display:block;
	}
}

footer{
	padding: 20px 20px;
	
	.desc{
		font-size: 12px;
		margin-top: 10px;
		
		a{
			color: $pink2;
			margin: 0 0 0 10px;
			display: inline-block;
		}
	}
	.social{
		margin: 10px 20px 0 0;
		@media only screen and (max-width: $mediumBreakpoint) {
			display: none;
		}
	}
}

.social{
	a{display:inline-block;}
}
